[submodule "offchain-layer/contracts/lib/forge-std"]
	path = offchain-layer/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "offchain-layer/contracts/lib/coprocessor-base-contract"]
	path = offchain-layer/contracts/lib/coprocessor-base-contract
	url = https://github.com/Mugen-Builders/coprocessor-base-contract
